.humidity {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0px 10px;
}
.humidity-bars {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  height: 40px;
  grid-gap: 5px;
  align-items: end;
  margin-right: 10px;
}
.hb {
  background-color: red;
  width: 5px;
  height: 100%;
  border-radius: 5px;
}
.hb-bar1 {
  height: 20%;
}
.hb-bar2 {
  height: 40%;
}
.hb-bar3 {
  height: 60%;
}
.hb-bar4 {
  height: 80%;
}
.hb-bar5 {
  height: 100%;
}
