.fiveXl-text {
  font-size: 6rem;
}
.xxl-text {
  font-size: 2rem;
}
.xl-text {
  font-size: 1.5rem;
}
.lg-text {
  font-size: 1.1rem;
}
.sm-text {
  font-size: 0.8rem;
}
.bold {
  font-weight: 500;
}
