.acc-container-left {
  display: grid;
  grid-template-columns: 1fr 260px 1fr;
  grid-template-rows: 260px;
}
.acc-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.acc-input > * {
  width: 50px;
}
.acc-temp {
  position: relative;
  /* height: 320px; */
  user-select: none;
}
.acc-temp-circle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.acc-temp-inner-circle {
  height: 98%;
  width: 98%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}
.acc-temp-inner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 6rem;
  z-index: 20;
  display: flex;
  align-items: center;
  line-height: 2rem;
}
.acc-temp-marker-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 17;
}
.temp-right-side {
  display: grid;
  /* height: 190%; */
  grid-template-rows: repeat(2, 1fr);
  line-height: 4.1rem;
}
.after-decimal {
  margin-bottom: -100px;
}
.marker-mark {
  width: 6px;
  height: 3%;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}
.marker-mark:first-child,
.marker-mark:last-child {
  background-blend-mode: difference !important;
  height: 10% !important;
}
.marker-mark:nth-child(5n) {
  height: 6%;
}
.acc-temp-blend {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 16;
}
