.humidity-function {
  display: grid;
  grid-template-columns: minmax(auto, 65px) auto;
  grid-template-rows: 65px auto;
  grid-column-gap: 10px;
  grid-row-gap: 2px;
  /* width: 210px; */
  border-radius: 10px;
  padding: 15px;
}
.humidity-function-speed {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin: 0px 10px;
}
.humidity-function-right,
.humidity-function-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}
.humidity-function-left-icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}
.humidity-function-left-text {
  display: flex;
  align-items: center;
}
.humidity-function-right-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.humidity-function-right-text > p {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 55px;
  line-height: 3rem;
  margin-left: 10px;
}
.humidity-function-right-text > span {
  font-size: 0.6rem;
  height: 100%;
  /* margin: 0px 2px 10px 2px; */
}
.humidity-function-right-function {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}
.humidity-function-right-function > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  border-radius: 2px;
}
